$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-image: url('https://i.imgur.com/rn8kHQ9.jpg');
}

h1 {
    color: #000080;
}

h3 {
    color: #000080;
}

h2 {
  color: #000080;

}

.sign-up-link {
  font-size: 20;
  font-weight: bold;
}

.navbar-default {
  background-color: #e3f2fd;
 }

 .modal-title {
  color: #000080;
 }

.rcorners {
  border-radius: 20px;
  background-color: #e3f2fd;
  padding: 20px;
  margin: 20px;
  border: 40px;
  }

.btn {
  margin: 20px;
}

.right-side-button {
  float: right;
  margin: 10px;
}

.alert-danger {
  width: 80%
}

.alert-success {
  width: 80%
}

.modal-header {
  background-color: #e3f2fd;
}

.field-label {
  color: #000080;
  font-size: 16px;
}

.list-header {
  color: #000080;
  font-size: 16px;
}

.load-messages {
  text-align: center;
}

hr {
    height: 2px;
    background-color:#555;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.trail-sign-img {
  background: url("https://i.imgur.com/iUtDxKP.jpg") no-repeat center;
  height: 450px;
  width: 450px;

}
